annotated-types==0.6.0
anyio==3.7.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
distro==1.9.0
faiss-cpu==1.8.0
filelock==3.14.0
fsspec==2024.3.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.0
idna==3.7
igraph==0.11.5
Jinja2==3.1.4
joblib==1.4.2
llvmlite==0.42.0
MarkupSafe==2.1.5
mpmath==1.3.0
networkx==3.3
nltk==3.8.1
numba==0.59.1
numpy==1.26.3
openai==1.3.3
packaging==24.0
pillow==10.3.0
plotly==5.22.0
pydantic==2.7.1
pydantic_core==2.18.2
pynndescent==0.5.12
PyYAML==6.0.1
regex==2024.5.10
requests==2.31.0
safetensors==0.4.3
scikit-learn==1.4.2
scipy==1.13.0
sentence-transformers==2.2.2
sentencepiece==0.2.0
setuptools==69.5.1
sniffio==1.3.1
sympy==1.12
tenacity==8.2.3
texttable==1.7.0
threadpoolctl==3.5.0
tiktoken==0.5.1
tokenizers==0.15.2
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
transformers==4.38.1
typing_extensions==4.11.0
umap-learn==0.5.5
urllib3==1.26.6
